<template>
  <div class="comment-wrapper">
    {{ comments.find((el) => el.id == commentId).content }}
    <div>
      <template v-for="(comment, index) in comments" :key="`comment${index}`">
        <CommentChild
          v-if="comment.parent_comment_id == commentId"
          :commentId="comment.id"
          :comments="postComments"
        ></CommentChild>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: "CommentChild",
  props: ["commentId", "comments"],
};
</script>

<style lang="scss" scoped>
.comment-wrapper {
  padding: 4px 0 4px 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-right: 1px solid #cccccc;
    height: 100%;
  }
}
</style>