<template>
  <div>
    <p class="comments-count" @click="showComments = !showComments">
      Ilość komentarzy: {{ postComments.length }}&nbsp;<span
        v-if="postComments.length > 0"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
          width="14"
          height="14"
          fill="#404040"
        >
          <polygon
            :points="
              showComments
                ? '128,48.907 0,176.907 30.187,207.093 128,109.28 225.813,207.093 256,176.907'
                : '225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093'
            "
          /></svg
      ></span>
    </p>
    <div v-if="showComments">
      <template
        v-for="(comment, index) in postComments"
        :key="`comment${index}`"
      >
        <CommentChild
          v-if="!comment.parent_comment_id"
          :commentId="comment.id"
          :comments="postComments"
        ></CommentChild>
      </template>
    </div>
  </div>
</template>

<script>
import { ref, toRefs } from "vue";
import { useStore } from "vuex";
import CommentChild from "@/components/CommentChild.vue";

export default {
  props: ["postId"],
  components: {
    CommentChild,
  },
  setup(props) {
    let store = useStore();

    let showComments = ref(false);
    const { postId } = toRefs(props);

    let postComments = store.state.comments.filter(
      (el) => el.post_id == postId.value
    );

    return {
      showComments,
      postComments,
    };
  },
};
</script>

<style lang="scss" scoped>
.comments-count {
  cursor: pointer;
}
</style>