<template>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid p-0">
      <div class="navbar-container container">
        <div>
          <router-link to="/" class="fs-5 text-dark">MicroReddit</router-link>
        </div>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            aria-label="Text input with segmented dropdown button"
          />
          <span class="search-by-text input-group-text px-1"
            >Szukaj po: {{ searchByText }}</span
          >
          <button
            type="button"
            class="
              btn btn-outline-secondary
              dropdown-toggle dropdown-toggle-split
            "
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="visually-hidden">Szukaj po</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end p-2">
            <li
              v-for="(item, index) in searchByOptions"
              :key="`search-by-${index}`"
              :class="[
                'd-grid',
                index != searchByOptions.length - 1 ? 'mb-2' : '',
              ]"
            >
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                @click="searchBy = item.value"
              >
                {{ item.text }}
              </button>
            </li>
          </ul>
        </div>
        <div v-if="$store.state.isUserLogged">
          <router-link to="/konto">
            <button type="button" class="btn btn-primary me-3">Konto</button>
          </router-link>
          <button type="button" class="btn btn-primary" @click="logout">
            Wyloguj się
          </button>
        </div>
        <div v-else>
          <router-link to="/logowanie">
            <button type="button" class="btn btn-primary me-3">
              Logowanie
            </button>
          </router-link>
          <router-link to="/rejestracja">
            <button type="button" class="btn btn-primary">Rejestracja</button>
          </router-link>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { ref, computed } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";

export default {
  setup() {
    const router = useRouter();
    const store = useStore();

    let logout = () => {
      localStorage.removeItem("userData");
      store.commit("userData", null);
      store.commit("isUserLogged", false);
      router.push("/");
    };

    let searchBy = ref("name");
    let searchByOptions = [
      { text: "nazwie", value: "name" },
      { text: "treści", value: "content" },
    ];
    let searchByText = computed(
      () => searchByOptions.find((el) => el.value === searchBy.value).text
    );

    return {
      searchBy,
      searchByOptions,
      searchByText,
      logout,
    };
  },
};
</script>

<style lang="scss" scoped>
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input-group {
      width: 100%;
      max-width: 500px;
    }

    .search-by-text {
      font-size: 14px;
    }
  }
}
</style>