<template>
  <div class="subreddit-post p-3 mb-4">
    <div class="vote-wrapper">
      <div class="arrow-up">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512.171 512.171"
          width="15"
          height="15"
          :class="isActiveUpVote"
        >
          <path
            d="M476.723,216.64L263.305,3.115C261.299,1.109,258.59,0,255.753,0c-2.837,0-5.547,1.131-7.552,3.136L35.422,216.64 c-3.051,3.051-3.947,7.637-2.304,11.627c1.664,3.989,5.547,6.571,9.856,6.571h117.333v266.667c0,5.888,4.779,10.667,10.667,10.667 h170.667c5.888,0,10.667-4.779,10.667-10.667V234.837h116.885c4.309,0,8.192-2.603,9.856-6.592 C480.713,224.256,479.774,219.691,476.723,216.64z"
          />
        </svg>
      </div>
      <div class="vote-counter">{{ voteCount }}</div>
      <div class="arrow-down">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512.171 512.171"
          width="15"
          height="15"
          :class="isActiveDownVote"
        >
          <path
            d="M479.046,283.925c-1.664-3.989-5.547-6.592-9.856-6.592H352.305V10.667C352.305,4.779,347.526,0,341.638,0H170.971 c-5.888,0-10.667,4.779-10.667,10.667v266.667H42.971c-4.309,0-8.192,2.603-9.856,6.571c-1.643,3.989-0.747,8.576,2.304,11.627 l212.8,213.504c2.005,2.005,4.715,3.136,7.552,3.136s5.547-1.131,7.552-3.115l213.419-213.504 C479.793,292.501,480.71,287.915,479.046,283.925z"
          />
        </svg>
      </div>
    </div>
    <div class="post-content-wrapper">
      <div class="post-header">
        <div>
          <span>Wysłane przez: u/{{ postModerator.nickname }}</span>
          <span
            >&nbsp;{{
              creationDate(firstPostFromSubreddit.creation_date)
            }}</span
          >
        </div>
        <div>
          <router-link
            :to="`/subreddit/${subredditData.id}_${subredditData.name}`"
          >
            <span>r/{{ subredditData.name }}</span>
          </router-link>
        </div>
      </div>
      <div class="post-content">
        <p class="post-title fs-4 mb-2">{{ firstPostFromSubreddit.title }}</p>
        <p class="post-text fs-6 mb-3">{{ firstPostFromSubreddit.content }}</p>
        <div
          v-if="firstPostFromSubreddit.image_path"
          class="image-wrapper mb-3"
        >
          <img
            class="post-image"
            :src="firstPostFromSubreddit.image_path"
            :alt="firstPostFromSubreddit.title"
          />
        </div>
        <div v-if="firstPostFromSubreddit.video_url" class="video-wrapper">
          <iframe
            width="100%"
            height="350"
            style="max-width: 600px"
            :src="`https://www.youtube.com/embed/${videoParameter}`"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="post-comments mt-5">
        <Comments :postId="firstPostFromSubreddit.id"></Comments>
      </div>
    </div>
  </div>
</template>

<script>
import { toRefs, computed } from "vue";
import { useStore } from "vuex";
import Comments from "@/components/Comments.vue";

export default {
  props: ["subredditData"],
  components: {
    Comments,
  },
  setup(props) {
    let store = useStore();

    const { subredditData } = toRefs(props);

    let firstPostFromSubreddit = computed(() => {
      return store.state.posts.find(
        (el) => el.subreddit_id == subredditData.value.id
      );
    });

    let postModerator = computed(() => {
      let firstPost = store.state.posts.find(
        (el) => el.subreddit_id == subredditData.value.id
      );
      return store.state.redditUsers.find((el) => el.id == firstPost.user_id);
    });

    let leadingZero = (number) => {
      return number < 10 ? `0${number}` : number;
    };

    let creationDate = (date) => {
      let newDate = new Date(date);
      return `${newDate.getFullYear()}-${leadingZero(
        newDate.getMonth() + 1
      )}-${leadingZero(newDate.getDate())} ${leadingZero(
        newDate.getHours()
      )}:${leadingZero(newDate.getMinutes())}:${leadingZero(
        newDate.getSeconds()
      )}`;
    };

    let videoParameter = computed(() => {
      const urlString = store.state.posts.find(
        (el) => el.subreddit_id == subredditData.value.id
      ).video_url;
      const newUrl = new URL(urlString);
      return newUrl.searchParams.get("v");
    });

    let voteCount = computed(() => {
      let postId = store.state.posts.find(
        (el) => el.subreddit_id == subredditData.value.id
      ).id;
      let votes = store.state.postsVotes.filter((el) => el.post_id == postId);
      return votes.length;
    });

    let isActiveUpVote = computed(() => {
      let postId = store.state.posts.find(
        (el) => el.subreddit_id == subredditData.value.id
      ).id;
      let votes = store.state.postsVotes.filter((el) => el.post_id == postId);
      console.log(votes)
      return votes.find(
        (el) => el.user_id == store.state.userData.id && el.post_id == postId
      )
        ? true
        : false;
    });

    let isActiveDownVote = computed(() => {
      return false;
    });

    return {
      firstPostFromSubreddit,
      videoParameter,
      postModerator,
      creationDate,
      voteCount,
      isActiveUpVote,
      isActiveDownVote,
    };
  },
};
</script>

<style lang="scss" scoped>
.subreddit-post {
  background-color: #ffffff;
  display: flex;

  .vote-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 16px;

    .arrow-down,
    .arrow-up {
      svg {
        fill: #858585;
        cursor: pointer;
      }
    }

    .arrow-up {
      svg:hover {
        fill: rgba(214, 57, 51, 0.7);
      }
    }

    .arrow-down {
      svg:hover {
        fill: rgba(39, 98, 207, 0.7);
      }
    }
  }

  .post-content-wrapper {
    .post-header {
      font-size: 14px;
    }

    .post-content {
      .image-wrapper {
        text-align: center;

        .post-image {
          width: 100%;
          max-width: 400px;
        }
      }

      .video-wrapper {
        text-align: center;
      }
    }
  }
}
</style>