<template>
  <nav-bar></nav-bar>
  <main class="container">
    <router-view></router-view>
  </main>
</template>

<script>
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap/dist/js/bootstrap.bundle.min.js";
import NavBar from "@/components/NavBar.vue";
import { onMounted } from "vue";
import { useStore } from "vuex";

export default {
  components: {
    NavBar,
  },
  setup() {
    let store = useStore();
    // store.dispatch("getPosts");
    // store.dispatch("getPostsVotes");
    // store.dispatch("getComments");
    // store.dispatch("getSubreddits");
    // store.dispatch("getSubredditsModerators");
    // store.dispatch("getSubredditsUsers");
    // store.dispatch("getInitialData");

    onMounted(() => {
      let userData = null;
      if (localStorage.getItem("userData")) {
        userData = JSON.parse(atob(localStorage.getItem("userData")));
      }
      if (userData) {
        store.commit("userData", userData);
        store.commit("isUserLogged", true);
      }
    });
  },
};
</script>

<style lang="scss">
body {
  background-color: #dae0e6;
  min-height: 100vh;

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  main {
    padding-top: 66px;
    padding-bottom: 12px;
    min-height: 100vh;
  }
}
</style>