<template>
  <div class="form-wrapper">
    <form class="row">
      <p class="fs-4 mb-4">Zmiana hasła</p>
      <div class="col-md-12 mb-4">
        <label for="password" class="form-label">Nowe hasło</label>
        <input
          type="password"
          class="form-control"
          id="password"
          required
          v-model="password"
        />
        <div v-if="passwordError" class="invalid-field">
          {{ passwordMessage }}
        </div>
      </div>
      <div class="col-12 mb-4">
        <button class="btn btn-primary" type="button" @click="submitForm">
          Zmień hasło
        </button>
      </div>
      <div class="px-3">
        <div v-if="showAlert" class="alert alert-primary" role="alert">
          {{ alertMessage }}
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { ref, computed } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";

export default {
  setup() {
    const router = useRouter();

    let password = ref("");
    let passwordError = ref(false);
    let alertMessage = ref("");
    let showAlert = ref(false);
    let alertTimeout = ref(null);

    const passwordRegex = /^(?=.*[\d])(?=.*[A-Z])(?=.*[a-z]){8,}/;

    let passwordMessage = computed(() => {
      if (password.value == null || password.value == "" || !password.value) {
        return "To pole nie może być puste";
      }
      if (!passwordRegex.test(password.value)) {
        return "Hasło musi mieć jedną małą i dużą literę, cyfrę i co najmniej osiem znaków.";
      }
    });

    let submitForm = () => {
      if (
        password.value == null ||
        password.value == "" ||
        !password.value ||
        !passwordRegex.test(password.value)
      ) {
        passwordError.value = true;
      } else {
        passwordError.value = false;
      }

      if (!passwordError.value) {
        const userData = JSON.parse(atob(localStorage.getItem("userData")));
        axios
          .put("http://localhost:8081/api/change-password", {
            email: userData.email,
            password: userData.password,
            newPassword: password.value,
          })
          .then((res) => {
            let message = "";
            if (res.data.passwordChanged) {
              message = res.data.message;
              userData.password = password.value;
              localStorage.setItem("userData", btoa(JSON.stringify(userData)));
            } else {
              message = res.data;
            }
            alertMessage.value = message;
            showAlert.value = true;
            if (alertTimeout.value) {
              clearTimeout(alertTimeout.value);
            }
            alertTimeout.value = setTimeout(() => {
              showAlert.value = false;
              alertMessage.value = "";
            }, 5000);
            // }
          })
          .catch((err) => {
            alertMessage.value = "Wystąpił błąd.";
            showAlert.value = true;
            if (alertTimeout.value) {
              clearTimeout(alertTimeout.value);
            }
            alertTimeout.value = setTimeout(() => {
              showAlert.value = false;
              alertMessage.value = "";
            }, 5000);
          });
      }
    };

    return {
      password,
      passwordError,
      passwordMessage,
      alertMessage,
      showAlert,
      submitForm,
    };
  },
};
</script>

<style lang="scss">
.form-wrapper {
  padding: 24px 0;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 66px;
  background-color: #ffffff;
  margin: 54px auto 0;

  form {
    margin: 0;

    .invalid-field {
      color: #dc3545;
      font-size: 14px;
    }
  }
}
</style>