<template>
  <div class="main-page">
    <div class="sort-wrapper container-fluid mt-3 mb-4 py-2">
      <div class="btn-group">
        <button
          class="btn btn-secondary btn-sm dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Sortuj po
        </button>
        <ul class="dropdown-menu">
          <li>ASDASDASD</li>
          <li>ASDASDASD</li>
          <li>ASDASDASD</li>
        </ul>
      </div>
      <div class="btn-group">
        <button
          class="btn btn-secondary btn-sm dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Widok: {{ listViewText }}
        </button>
        <ul class="dropdown-menu">
          <li
            v-for="(item, index) in $store.state.listViewOptions"
            :key="`search-by-${index}`"
            :class="[
              'd-grid',
              index != $store.state.listViewOptions.length - 1 ? 'mb-2' : '',
            ]"
          >
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              @click="$store.commit('listView', item.value)"
            >
              {{ item.text }}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div
      :class="[
        'subreddits-wrapper',
        $store.state.listView == 'card' ? 'card-view' : 'list-view',
      ]"
    >
      <SubredditPost
        v-for="(subreddit, index) in $store.state.subreddits"
        :key="`subreddit${index}`"
        :subredditData="subreddit"
      ></SubredditPost>
    </div>
  </div>
</template>

<script>
import { computed } from "vue";
import { useStore } from "vuex";
import SubredditPost from "@/components/SubredditPost.vue";

export default {
  components: {
    SubredditPost,
  },
  setup() {
    let store = useStore();

    let listViewText = computed(
      () =>
        store.state.listViewOptions.find(
          (el) => el.value === store.state.listView
        ).text
    );

    return { listViewText };
  },
};
</script>

<style lang="scss">
.main-page {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  .sort-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
  }
}
</style>