<template>
  <div class="form-wrapper">
    <form class="row">
      <p class="fs-4 mb-4">Rejestracja</p>
      <div class="col-md-12 mt-0 mb-4">
        <label for="email" class="form-label">E-mail</label>
        <input
          type="text"
          class="form-control"
          id="email"
          required
          v-model="email"
        />
        <div v-if="emailError" class="invalid-field">{{ emailMessage }}</div>
      </div>
      <div class="col-md-12 mb-4">
        <label for="password" class="form-label">Hasło</label>
        <input
          type="password"
          class="form-control"
          id="password"
          required
          v-model="password"
        />
        <div v-if="passwordError" class="invalid-field">
          {{ passwordMessage }}
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <label for="repeat-password" class="form-label">Powtórz hasło</label>
        <input
          type="password"
          class="form-control"
          id="repeat-password"
          required
          v-model="repeatPassword"
        />
        <div v-if="repeatPasswordError" class="invalid-field">
          {{ repeatPasswordMessage }}
        </div>
      </div>
      <div class="col-12 mb-4">
        <button class="btn btn-primary" type="button" @click="submitForm">
          Zarejestruj się
        </button>
      </div>
      <div class="px-3">
        <div v-if="showAlert" class="alert alert-primary" role="alert">
          {{ alertMessage }}
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { ref, computed } from "vue";
import axios from "axios";

export default {
  setup() {
    let email = ref("");
    let emailError = ref(false);
    let password = ref("");
    let passwordError = ref(false);
    let repeatPassword = ref("");
    let repeatPasswordError = ref(false);
    let alertMessage = ref("");
    let showAlert = ref(false);
    let alertTimeout = ref(null);

    const emailRegex =
      /^(?:[A-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[A-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9]{2,}(?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/;
    const passwordRegex = /^(?=.*[\d])(?=.*[A-Z])(?=.*[a-z]){8,}/;

    let emailMessage = computed(() => {
      if (email.value == null || email.value == "" || !email.value) {
        return "To pole nie może być puste";
      }
      if (!emailRegex.test(email.value)) {
        return "Niepoprawny adres e-mail";
      }
    });

    let passwordMessage = computed(() => {
      if (password.value == null || password.value == "" || !password.value) {
        return "To pole nie może być puste";
      }
      if (!passwordRegex.test(password.value)) {
        return "Hasło musi mieć jedną małą i dużą literę, cyfrę i co najmniej osiem znaków.";
      }
    });

    let repeatPasswordMessage = computed(() => {
      if (
        repeatPassword.value == null ||
        repeatPassword.value == "" ||
        !repeatPassword.value
      ) {
        return "To pole nie może być puste";
      }
      if (password.value != repeatPassword.value) {
        return "Oba hasła muszą być takie same.";
      }
    });

    let submitForm = () => {
      if (
        email.value == null ||
        email.value == "" ||
        !email.value ||
        !emailRegex.test(email.value)
      ) {
        emailError.value = true;
      } else {
        emailError.value = false;
      }

      if (
        password.value == null ||
        password.value == "" ||
        !password.value ||
        !passwordRegex.test(password.value)
      ) {
        passwordError.value = true;
      } else {
        passwordError.value = false;
      }

      if (
        repeatPassword.value == null ||
        repeatPassword.value == "" ||
        !repeatPassword.value ||
        password.value != repeatPassword.value
      ) {
        repeatPasswordError.value = true;
      } else {
        repeatPasswordError.value = false;
      }

      if (
        !emailError.value &&
        !passwordError.value &&
        !repeatPasswordError.value
      ) {
        axios
          .post("http://localhost:8081/api/register", {
            email: email.value,
            password: password.value,
          })
          .then((res) => {
            alertMessage.value = res.data;
            showAlert.value = true;
            if (alertTimeout.value) {
              clearTimeout(alertTimeout.value);
            }
            alertTimeout.value = setTimeout(() => {
              showAlert.value = false;
              alertMessage.value = "";
            }, 5000);
          })
          .catch((err) => {
            alertMessage.value = "Wystąpił błąd.";
            showAlert.value = true;
            if (alertTimeout.value) {
              clearTimeout(alertTimeout.value);
            }
            alertTimeout.value = setTimeout(() => {
              showAlert.value = false;
              alertMessage.value = "";
            }, 5000);
          });
      }
    };

    return {
      email,
      emailError,
      password,
      passwordError,
      repeatPassword,
      repeatPasswordError,
      emailMessage,
      passwordMessage,
      repeatPasswordMessage,
      alertMessage,
      showAlert,
      submitForm,
    };
  },
};
</script>

<style lang="scss">
.form-wrapper {
  padding: 24px 0;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 66px;
  background-color: #ffffff;
  margin: 54px auto 0;

  form {
    margin: 0;

    .invalid-field {
      color: #dc3545;
      font-size: 14px;
    }
  }
}
</style>